{% extends 'myarticle/base.html' %}
{% load staticfiles %}
{% block title %} 博客首页 {% endblock %}
{% block mycss %}
    <link type="text/css" href="{% static "myarticle/css/base.css" %}" rel="stylesheet" >
{% endblock %}
{% block content-center %}
    <div class="col-md-7 col-sm-7 col-xs-10 ">
    {% for article in obj %}
        <h3><a href="/myarticle/article/{{ article.id }}">{{ article.title }}</a></h3>
        <p style="text-align: right">作者：{{ article.author }}</p>
        <span >{{ article.dsecription|safe}}<a href="/myarticle/article/{{ article.id }}"><li style="text-align: right;">detail>></li></a></span>
    {% endfor %}
    <br/>
    <nav aria-label="Page navigation ">
        <ul class="pagination navbar-right">
{#            <li><a>每页:<select>#}
{#                <option value="1">10</option>#}
{#                <option value="2">20</option>#}
{#            </select></a></li>#}
{#            <li><a href="#">首页</a></li>#}
{#            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">上一页</span></a></li>#}
{#            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>#}
{#            <li><a href="#">2</a></li>#}
{#            <li><a href="#">3</a></li>#}
{#            <li><a href="#">4</a></li>#}
{#            <li><a href="#">5</a></li>#}
{#            <li><a href="#" aria-label="Next"><span aria-hidden="true">下一页</span></a></li>#}
{#            <li><a href="#">尾页</a></li>#}
{#            <li><a>12/22</a></li>#}
            {{ render_page | safe}}
        </ul>
    </nav>
    </div>
{% endblock %}