{% extends 'myarticle/base.html' %}
{% load staticfiles %}
{% block title %} 博客首页 {% endblock %}
{% block mycss %}
    <link type="text/css" href="{% static "myarticle/css/base.css" %}" rel="stylesheet" >
{% endblock %}
{% block content-center %}
    <div class="col-md-7 col-sm-7 col-xs-10 ">
    {% for article in obj %}
        <h3><a href="/myarticle/article/{{ article.id }}">{{ article.title }}</a></h3>
        <p style="text-align: right">作者：{{ article.author }}</p>
        <span >{{ article.dsecription|safe}}<a href="/myarticle/article/{{ article.id }}" style="text-align: right">detail>></a></span>
    {% endfor %}
    </div>
{% endblock %}